* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	
}

header {
	
	width: 100%;
	background-color: blue;
}

header h1 {
	color: aliceblue;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 15px;

}


nav a:hover {
	text-decoration: underline;
}

nav {
	padding: 15px;
	background-color: red;

}

nav a {
	text-decoration: none;
	color: white;
	padding: 15px;
}

nav a:hover {
	text-decoration: underline;
}



main {
	padding: 10px;
	width: 70%;
	background-color: blue;
	
}
main section article{
	margin: 10px;
}



aside {
	padding:20px;
	width: 30%;
	background-color: orangered;
	display: flex;
	flex-direction: column;

	justify-content: space-between
}

aside div{
	margin:10px 10px;
	background-color: orange;
	padding: 20px 20px;
	width: 100%;
	height: 100px;
	
}

footer {
	padding: 10px;
	width: 100%;
	background-color: antiquewhite;
}