*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
header{
	padding: 20px;
	width: 100%;
	background-color: blue;
}

header h1{
	color:aliceblue;
}

nav a {
	text-decoration: none;
	color: white;
	padding: 15px;

}

img{
	width: 300px;
	margin:200px;
}

nav a:hover{
	text-decoration: underline;
}

nav{
	padding: 15px;
	background-color:red;

}

nav a {
	text-decoration: none;
	color: white;
	padding: 15px;
}

nav a:hover{
	text-decoration: underline;
}

main{
	padding: 20px;
	width: 100%;
	background-color: blue;
}

aside{
	width: 100px;
	background-color: antiquewhite;
}

footer{
	padding: 20px;
	width: 100px;
	background-color: antiquewhite;
}
