*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
main{
	padding: 20px;
	background-color: antiquewhite;
	width: 100px;
}
aside{
	padding: 20px;
	background-color: orangered;
	width: 100px;
}